IO_LOC  "D[3]" 77;
IO_PORT "D[3]" PULL_MODE=DOWN;

IO_LOC  "D[2]" 79;
IO_PORT "D[2]" PULL_MODE=DOWN;

IO_LOC  "D[1]" 80;
IO_PORT "D[1]" PULL_MODE=DOWN;

IO_LOC  "D[0]" 81;
IO_PORT "D[0]" PULL_MODE=DOWN;

IO_LOC  "C[3]" 82;
IO_PORT "C[3]" PULL_MODE=DOWN;

IO_LOC  "C[2]" 83;
IO_PORT "C[2]" PULL_MODE=DOWN;

IO_LOC  "C[1]" 84;
IO_PORT "C[1]" PULL_MODE=DOWN;

IO_LOC  "C[0]" 85;
IO_PORT "C[0]" PULL_MODE=DOWN;

IO_LOC  "B[3]" 29;
IO_PORT "B[3]" PULL_MODE=DOWN;

IO_LOC  "B[2]" 28;
IO_PORT "B[2]" PULL_MODE=DOWN;

IO_LOC  "B[1]" 27;
IO_PORT "B[1]" PULL_MODE=DOWN;

IO_LOC  "B[0]" 26;
IO_PORT "B[0]" PULL_MODE=DOWN;

IO_LOC  "A[3]" 57;
IO_PORT "A[3]" PULL_MODE=DOWN;

IO_LOC  "A[2]" 56;
IO_PORT "A[2]" PULL_MODE=DOWN;

IO_LOC  "A[1]" 55;
IO_PORT "A[1]" PULL_MODE=DOWN;

IO_LOC  "A[0]" 54;
IO_PORT "A[0]" PULL_MODE=DOWN;

IO_LOC  "Y[0]" 10;
IO_PORT "Y[0]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "Y[1]" 11;
IO_PORT "Y[1]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "Y[2]" 13;
IO_PORT "Y[2]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "Y[3]" 14;
IO_PORT "Y[3]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "S[0]" 3;
IO_PORT "S[0]" IO_TYPE=LVCMOS18;

IO_LOC  "S[1]" 4;
IO_PORT "S[1]" IO_TYPE=LVCMOS18;
