IO_LOC  "set_io D[3]" 53;

IO_LOC  "set_io D[2]" 51;

IO_LOC  "set_io D[1]" 42;

IO_LOC  "set_io D[0]" 41;

IO_LOC  "set_io C[3]" 35;

IO_LOC  "set_io C[2]" 40;

IO_LOC  "set_io C[1]" 34;

IO_LOC  "set_io C[0]" 33;

IO_LOC  "set_io B[3]" 30;

IO_LOC  "set_io B[2]" 29;

IO_LOC  "set_io B[1]" 27;

IO_LOC  "set_io B[0]" 26;

IO_LOC  "set_io A[3]" 25;

IO_LOC  "set_io A[2]" 39;

IO_LOC  "set_io A[1]" 36;

IO_LOC  "set_io A[0]" 37;

IO_LOC  "set_io Y[0]" 10;
IO_PORT "set_io Y[0]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "set_io Y[1]" 11;
IO_PORT "set_io Y[1]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "set_io Y[2]" 13;
IO_PORT "set_io Y[2]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "set_io Y[3]" 14;
IO_PORT "set_io Y[3]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "set_io S[0]" 3;
IO_PORT "set_io S[0]" IO_TYPE=LVCMOS18;

IO_LOC  "set_io S[1]" 4;
IO_PORT "set_io S[1]" IO_TYPE=LVCMOS18;
