IO_LOC  "KeyP" 29;
IO_PORT "KeyP" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "columna[1]" 28;
IO_PORT "columna[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "columna[0]" 27;
IO_PORT "columna[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "fila[1]" 26;
IO_PORT "fila[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "fila[0]" 25;
IO_PORT "fila[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "clk" 52;
IO_PORT "clk" PULL_MODE=UP;

IO_LOC  "led[0]" 10;

IO_LOC  "led[1]" 11;

IO_LOC  "led[2]" 13;

IO_LOC  "led[3]" 14;

IO_LOC  "led[4]" 15;

IO_LOC  "led[5]" 16;

IO_LOC  "uart_tx" 17;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33;

IO_LOC  "uart_rx" 18;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33;
