IO_LOC  "KeyP" 25;
IO_PORT "KeyP" IO_TYPE=LVCMOS33;

IO_LOC  "fila[1]" 27;
IO_PORT "fila[1]" IO_TYPE=LVCMOS33;

IO_LOC  "fila[0]" 26;
IO_PORT "fila[0]" IO_TYPE=LVCMOS33;

IO_LOC  "columna[1]" 29;
IO_PORT "columna[1]" IO_TYPE=LVCMOS33;

IO_LOC  "columna[0]" 28;
IO_PORT "columna[0]" IO_TYPE=LVCMOS33;

IO_LOC  "Q[0]" 10;
IO_PORT "Q[0]" IO_TYPE=LVCMOS18;

IO_LOC  "Q[1]" 11;
IO_PORT "Q[1]" IO_TYPE=LVCMOS18;

IO_LOC  "Q[2]" 13;
IO_PORT "Q[2]" IO_TYPE=LVCMOS18;

IO_LOC  "Q[3]" 14;
IO_PORT "Q[3]" IO_TYPE=LVCMOS18;

IO_LOC  "rst" 3;
IO_PORT "rst" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "uart_tx" 17;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33;

IO_LOC  "uart_rx" 18;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33;
