IO_LOC  "Interruptor0" 26;
IO_PORT "Interruptor0" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "Interruptor1" 25;
IO_PORT "Interruptor1" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "Interruptor2" 39;
IO_PORT "Interruptor2" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "Interruptor3" 36;
IO_PORT "Interruptor3" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "salidaPWM" 10;
IO_PORT "salidaPWM" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
